/*
Tachyons-Additions extends TACHYONS CSS and was developed by AnThemaker (github.com/AnTheMaker)
*/
a{
  color: #357edd;
}
.mb-1{
  margin-bottom: -4px;
}

@media(max-width: 30em){ /* MOBILE */
  .desktop-only, .do{
    display: none !important;
  }
}
@media(min-width: 30em){ /* DESKTOP */
  .mobilr-only, .mo{
    display: none !important;
  }
}
